# Backend API Ignore Kuralları
backend-api/node_modules/
backend-api/.env

# Mobile App (Flutter) Ignore Kuralları
flutter_app/.dart_tool/
flutter_app/build/
flutter_app/.flutter-plugins
flutter_app/.flutter-plugins-dependencies

# İşletim Sistemi Çöpleri
.DS_Store
Thumbs.db